<launch>

  <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  <group ns="turtlesim2">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
  </group>

  
  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>
  </node>
<group ns="turtlesim1">
    <node pkg="rqt_graph" name="rqt" type="rqt_graph"/>
    <node pkg="locale" name="turtle_cordinate" type="turtle_cordinate.py"/>
    <node pkg="locale" name="distance_theta" type="distance_theta.py" />
    <node pkg="locale" name="nuInferD1" type="nuInferD1.py"/>
    <node pkg="locale" name="nuInferD2" type="nuInferD2.py"/>
    <node pkg="locale" name="nuInferD3" type="nuInferD3.py"/>
    <node pkg="locale" name="nuInferD4" type="nuInferD4.py"/>
    <node pkg="locale" name="nuInferTheta" type="nuInferTheta.py"/>
    <node pkg="locale" name="totalInference" type="totalInference.py"/>
  </group>



</launch>
